# Python
__pycache__/
*.pyc
.env

# Docker
*.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# AWS / SSH keys
*.pem
*.key

# OS
.DS_Store
