groups:

# ============================
# Application Alerts
# ============================
- name: app_alerts
  rules:

  - alert: FlaskAppDown
    expr: up{job="flask_app"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Flask application is down for last 2 minutes"
      description: "Prometheus is unable to scrape the Flask app."

  - alert: HighRequestRate
    expr: rate(app_http_requests_total[1m])*60 > 20
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "High request rate detected on Flask app"
      description: "Request rate is above 20 requests per minute."

  - alert: HighRequestLatency
    expr: |
      histogram_quantile(
        0.95,
        rate(app_request_latency_seconds_bucket[1m])
      ) > 1
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "High request latency detected"
      description: "95th percentile request latency is above 1 second"

  - alert: HighDBWrites
    expr: rate(app_db_writes_total[1m])*60 > 20
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "High DB write rate"
      description: "More than 20 database writes per minute."


# ============================
# Postgres & Exporter Alerts
# ============================
- name: postgres_alerts
  rules:

  - alert: PostgresDatabaseDown
    expr: pg_up{type!="disabled"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Postgres database is unreachable"
      description: "Postgres exporter cannot connect to the database"

  - alert: PostgresExporterDown
    expr: up{job="postgres"} == 0
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "Postgres exporter is down for last 2 minutes"
      description: "Prometheus cannot scrape Postgres exporter."

  - alert: PostgresTooManyConnections
    expr: pg_stat_activity_count > 50
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "High number of Postgres connections for last 2 minutes"
      description: "Postgres has more than 50 active connections for last 2 minutes."

  - alert: PostgresLowFreeConnections
    expr: pg_settings_max_connections - pg_stat_activity_count < 10
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "Postgres nearing max connections for last 2 minutes"
      description: "Less than 10 Postgres connections remaining for last 2 minutes."


# ============================
# Node Exporter (Host) Alerts
# ============================
- name: node_alerts
  rules:

  - alert: NodeExporterDown
    expr: up{job="node_exporter"} == 0
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "Node exporter is down for last 2 minutes"
      description: "Prometheus cannot scrape node exporter."

  - alert: HighCPUUsage
    expr: |
      100 - avg by(instance)(
        rate(node_cpu_seconds_total{mode="idle"}[5m]) * 100
      ) > 80
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "High CPU usage for last 2 minutes"
      description: "CPU usage is above 80%."

  - alert: HighMemoryUsage
    expr: |
      (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes)
      / node_memory_MemTotal_bytes * 100 > 80
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "High memory usage for last 2 minutes"
      description: "Memory usage is above 80%."


# ============================
# Instance down Alerts
# ============================
- name: infrastructure_alerts
  rules:

  - alert: InstanceDown
    expr: |
      up{job="node_exporter"} == 0
      and
      up{job="flask_app"} == 0
      and
      up{job="postgres_exporter"} == 0
    for: 3m
    labels:
      severity: critical
    annotations:
      summary: "Instance is down"
      description: "All exporters are unreachable. Host or Docker daemon is likely down."

